.popup__submit-button_disabled {
  border: 1px solid rgba(1, 1, 1, 0.2);
  background-color: white;
  color: rgba(1, 1, 1, 0.2);
}

.popup__submit-button_disabled:hover {
  background-color: transparent;
  cursor: auto;
}
